body { }

pre > code,
body > div.reveal.none.center.has-horizontal-slides.ready > div.slides > section.present > pre > code,
body div.slides > section > section.present > pre > code {
    overflow: hidden !important;
}

.no-bullets {
    list-style-type: none !important;
}

.no-bullets > li {
    left: 0;
}

.keyword {
    color: #0094ff;
}